@mixin card{
    height: 50rem;
    border: 0.3rem solid #EB0101;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;
    animation-fill-mode: forwards;
}

$cardWidth: calc(100% / 3 - 4rem);

.organistatie{
    margin-top: 5rem;
    width: 100%;
    height: auto;
    padding: 0 9rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: relative;

    &__header{
        width: 100%;
        height: 5rem;
    }

    &__title{
        font-size: 3rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    &__cards{
        width: 100%;
        height: 55rem;
        display: flex;
        flex-wrap: wrap;
        gap: 4rem;
        list-style: none;
    }

    &__card{
        width: $cardWidth;
        @include card;

        &--active{
            @include card;
            flex-direction: row;
            flex-wrap: wrap;
            animation: Expand;
            animation-duration: 1.2s;
            animation-fill-mode: forwards;
        }

        &--retract{
            @include card;
            flex-direction: column;
            flex-wrap: nowrap;
            animation: Retract;
            animation-fill-mode: forwards;
            animation-duration: 1.2s;
        }

        &--remove{
            display: none;
        }

        &--add{
            @include card;
            animation: FadeIn;
            animation-duration: 0.4s;
            animation-fill-mode: forwards;
        }
    }

    &__cardTitle{
        font-size: 2.5rem;
        text-shadow: -1px 0 #EB0101, 0 1px #EB0101, 1px 0 #EB0101, 0 -1px #EB0101;
        color: white;
    }

    &__paragraph{
        font-size: 1.8rem;
    }

    &__list{
        margin-top: 1rem;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__listItem{
        display: flex;
        align-items: baseline;
        &::before {
            content: ""; 
            display: flex;
            aspect-ratio: 1/1;
            width: 1rem; 
            height: 1rem;
            text-align: center;
            margin-right: 5px; 
            border: 1px solid #EB0101; 
          }
    }

    &__listText{
        font-size: 1.3rem;
    }

    &__button{
        position: absolute;
        bottom: 2%;
        right: 2%;
        width: 15rem;
        height: 6rem;
        border: 0.3rem solid #EB0101;
        background: white;
        font-size: 1.5rem;
        transition: all 0.4s;
        color: black;

        &:hover{
            cursor: pointer;
            background: #EB0101;
            border-radius: 1rem;
            font-size: 1.6rem;
            color: white;
        }
    }

    $textWidth: calc(100% / 3 - 4rem);

    &__modalParagraph{
        font-size: 1.8rem;
        display: none;
        width: $textWidth;
        animation-fill-mode: forwards;
        animation-delay: 0.4s;
        animation-delay: 0.4s;
    }

    &__hiddenTexts{
        width: $textWidth;
        display: none;
        animation-fill-mode: forwards;
        animation-delay: 0.4s;
        animation-delay: 0.4s;
        opacity: 0;
    }
}

@keyframes Expand{
    0%{
        
    }

    100%{
        width: 100%;
    }
}

@keyframes Retract{
    0%{
        width: 100%;
    }

    100%{
        width: $cardWidth;
    }
}

@keyframes FadeOut{
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

@keyframes FadeIn{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@media screen and (max-width: 81.25rem){
    $cardWidth: 45rem;

    .organistatie{

        &__cards{
            height: auto;
            justify-content: center;
        }

        &__card{
            width: $cardWidth;
        }
    }

    @keyframes Retract{
        0%{
            width: 100%;
        }
    
        100%{
            width: $cardWidth;
        }
    }
}

@media screen and (max-width: 71.875rem){
    .organistatie{
        padding: 0 2rem;
        
        &__paragraph{
            font-size: 1.5rem;
        }

        &__modalParagraph{
            font-size: 1.5rem;
        }

        &__list{
            margin-top: 1rem;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
    }
}

@media screen and (max-width: 58.125rem){
    $cardWidth: calc(100% - 2rem);
    $textWidth: calc(100% / 2 - 4rem);

    .organistatie{
        align-items: center;

        @mixin card{
            height: auto;
            width: $cardWidth;
        }

        &__card{
            @include card;
    
            &--active{
                @include card;
                height: auto;
            }
    
            &--retract{
                @include card;
            }
    
            &--add{
                @include card;
            }
        }

        &__modalParagraph{
            width: $textWidth;
        }

        &__hiddenTexts{
            width: $textWidth;
        }
    }

    @keyframes Retract{
        0%{
            width: 100%;
        }
    
        100%{
            width: $cardWidth;
        }
    }
}

@media screen and (max-width: 38.75rem){
    $textWidth: calc(100%);

    .organistatie{

        &__header{
            height: auto;
        }

        &__modalParagraph{
            width: $textWidth;
        }

        &__hiddenTexts{
            width: $textWidth;
        }

        &__button{
            position: relative;
            bottom: 0;
            right: 0;
        }
    }
}
